<a href="https://colab.research.google.com/github/Oruann/ConceptFORGE/blob/master/read_text.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
lines = []

file_name = '/1124_TRF_lib'

with open(file_name, 'r') as var:
    for line in var:
        line = line.rstrip()
        lines.append(line)

In [ ]:
lines[0:10]

In [21]:
import pandas as pd

df = pd.read_csv(file_name)
df

                           $F1124-0562 LIB
0                          *Pos canal AS esc
1                            /Admin
2      %1112-COQ6
3                                &26: 6:18:07:43
4                                         51.413
...                                          ...
75704                                      6.431
75705                        /
75706  %1122-COQ05
75707                            &27:11:19:23:43
75708                                      6.510

[75709 rows x 1 columns]

In [5]:
lines[0:10]

['$F1124-0562 LIB      \n',
 '*Pos canal AS esc    \n',
 '/Admin             \n',
 '%1112-COQ6                               \n',
 '&26: 6:18:07:43\n',
 '51.413\n',
 '/Admin             \n',
 '%1122-COQ6                               \n',
 '&26: 6:18:07:59\n',
 '51.129\n']